@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

/* .flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 60%;
    height: 100vh;
}

.flex-right {
    width: 40%;
}

.wqi-container {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    gap: 20em
} */

/* .parameter-container {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    gap: 6em;
    padding: 10px 10px;
}

.grade-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 10em;
    background-color: #85D0FB;
}

.excellent-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 7em;
    background-color: #95F39F;
}

.good-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 8.8em;
    background-color: #C8F391;
}

.average-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 7.4em;
    background-color: #F9F598;
}

.poor-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 8.5em;
    background-color: #FBCE76;
}

.verypoor-container {
    display: flex;
    justify-content: start;
    align-content: space-evenly;
    gap: 6.5em;
    background-color: #F9AD95;
} */

.h1-dash {
    font-family: 'Mitr';
    color: #3F3F3F;
    font-size: 38px;
    margin: 0px;
    text-align: left;
}

.h2-dash {
    font-family: 'Mitr';
    color: #3F3F3F;
    font-size: 26px;
    margin: 0px;
    text-align: left;
}

.h3-dash {
    color: #3F3F3F;
    font-size: 20px;
    margin: 0px;
    text-align: center;
    padding: 25px 0;

}

.h3-measure {
    font-family: 'Mitr';
    color: #2ca5ec;
    font-size: 25px;
    margin: 0px;
    text-align: right;
    padding: 25px 0;

}

.p-dash {
    color: #3F3F3F;
    font-size: 20px;
    margin: 0px;
    text-align: left;

}