@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 60%;
    height: 100vh;
}

.flex-right {
    width: 40%;
}

.wqi-container {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    gap: 20em
}

.parameter-container {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    gap: 6em;
    padding: 10px 10px;
}