@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

.landing {
    background-color: #85D0FB;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.h1-land {
    font-family: 'Mitr';
    color: white;
    font-size: 64px;
    width: 800px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2-land {
    font-size: 40px;
}

